@model BASE_COBRANZAS_V2.Models.Beans.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="banner">
        <img src="~/img/rebel2.jpg" width="200" height="200" />
    </div>
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form class="login-form" asp-action="Logueo">
                <div class="form-group">
                    <input type="text" id="username" name="NOMBRE_USUARIO" asp-for="NOMBRE_USUARIO" placeholder="Nombre de Usuario" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="CONTRA_USUARIO" asp-for="CONTRA_USUARIO" placeholder="Contraseña" required>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>