@model IEnumerable<BASE_COBRANZAS_V2.Models.Beans.Status_demanda_principal>

@{
    ViewData["Title"] = "Demanda Principal";
    Layout = "~/Views/Shared/_layoutMstr.cshtml";
}

<h1 class="font-weight-bold text-center">Demanda Principal</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CODIGO
            </th>
            <th>
                ACCION
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_STATUS_DEMANDA_PRINCIPAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACCION)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.ID_STATUS_DEMANDA_PRINCIPAL },new{@class="btn btn-primary",@role="button"}) |
                    <a onclick="confirmDelete('@item.ID_STATUS_DEMANDA_PRINCIPAL')" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: "¿Seguro que quieres eliminar?",
                text: "Esta acción no se puede deshacer",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirige a la acción Delete con el id del procurador
                    $.post({
                        url: "/Demanda_principal/Delete?ID_STATUS_DEMANDA_PRINCIPAL=" + id,  // Corrección aquí
                        success: function (r) {
                            window.location = "/Demanda_principal/listar_demanda_principal";  // Corrección aquí
                        }
                    });
                }
            });
        }
    </script>
}